*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0%;
    padding: 0%;
}

.caja-img{
    width: 300;
    margin: 0 auto;
    text-align: center;
    
}

img{
    width: cover;
}






